<div class="w-50  mx-auto mt-5 px-3 py-4 shadow rounded">
    <h3>Todo App</h3>
    <div class="d-flex align-items-center">
        <div class="form-floating mt-3 w-100">
            <input name="taskName" type="text" #task_name="ngModel" [(ngModel)]="newTasks" placeholder="Type your todo here" class="form-control" required>
            <label for="">Task Name</label>
        </div>
        <button (click)="createTask(task_name)" class="btn btn-primary mt-3" style="height: 57px;width: 80px;">Add</button>
    </div>

    <div class="shadow rounded mt-3 p-3">
        <h3>My Tasks</h3>
        <hr>


        <div class="shadow py-3 px-4 d-flex justify-content-between align-items-center mt-3" *ngFor="let task of tasks; let i = index">
            <h6 class="m-0 p-0">{{task.name}}</h6>
            <div>
                <button (click)="completeTask(i)" class="btn" [ngClass]="{'btn-warning': !task.status, 'btn-success':task.status }"><i class="fa" [ngClass]="{'fa-hourglass' : !task.status, 'fa-check-double': task.status}"></i></button>
                <button (click)="deleteTask(i)" class="btn btn-danger ms-3"><i class="fa fa-trash"></i></button>
            </div>
        </div>
    </div>
</div>